header {
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  justify-content: flex-start;
  border: 1px solid black;
  margin: 5px;
}

nav {
  border: 1px solid black;
  margin: 5px;
}

section {
  border: 1px solid black;
  margin: 5px;
}

article {
  border: 1px solid black;
  margin: 5px;
}

footer {
  border: 1px solid black;
  margin: 5px;
}

.Recruit {
  border: 1px solid black;
  margin: 5px;
}
